pydantic==1.10.4
fastapi==0.95.0  # Especifica la versión exacta de FastAPI
pandas==1.5.3  # Especifica la versión exacta de Pandas
uvicorn==0.23.0  # Asegúrate de tener Uvicorn para ejecutar la aplicación

